*{
  padding: 0;
  margin:0;
  box-sizing: border-box
}
html,body,#root{
  background-color: skyblue;
  font-family: cursive;
  width: 100%;
  height: 100%;
  /*user-select:none; / *css控制页面文字不能被选中*/
}